@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "DM Sans", sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 10px;
}

a {
	all: unset;
	cursor: pointer;
}

hr{
	height: 1px;
	border: none;
	background-color: darkgray;
}

.cr_text {
	font-family: "Crimson Text", serif;
}

.btn {
	background-color: #485c11;
	color: white;
	border: none;
	padding: 1rem 2rem;
	border-radius: 30px;
	font-weight: 600;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
	font-weight: 600;

	position: sticky;
	top: 0;
	background-color: white;
	z-index: 100;
}

.links {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.logo {
	font-size: 2rem;
	font-weight: 700;
}

.hero_photo {
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	overflow: hidden;
	margin-bottom: 20px;
}

.hero_text {
	font-size: 7rem;
	line-height: 7rem;
	text-align: center;
	padding: 4rem 0;
}

.hero_img {
	position: relative;
	z-index: 2;
	bottom: 0;
	max-width: 95%;
	display: block;
	height: auto;
	transform: translateY(50px);
	border: 1rem solid black;
	border-radius: 30px;
}

.bg {
	background-color: #8a9b6f;
	min-width: 98%;
	min-height: 50vh;
	border-radius: 5vh;
	position: absolute;
	bottom: 0;
	z-index: -1;
}

.trusted_logos {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 100%;
	margin: 150px 0;
}

.logo_trust {
	max-width: 10vw;
	padding: 0 15px;
	object-fit: contain;
	filter: grayscale(100%);
	transition: filter 0.3s;
}

.logo_trust:hover {
	filter: grayscale(0%);
}

.code {
	margin: 100px 0;
}

.semi_top {
	margin-top: 100px;
	color: darkgray;
}

.semi_bottom {
	margin-bottom: 100px;
	color: darkgray;
}

.main_code {
	margin: 50px 0;
	font-size: 3rem;
}

.boxes{
	display: flex;
	justify-content: space-between;
	gap: 35px;
	margin: 100px 0;
}

.box{
	border-top: 1px solid rgb(184, 184, 184);
	transition: .3s;
}

.box:hover{
	border-radius: 20px;
}

.box_icon{
	margin: 50px 0 20px 0;
}

.box_title{
	font-size: 1.2rem;
	margin-bottom: 20px;
}

.box_sub{
	color: darkgray;
}